@import "tailwindcss";
@plugin "daisyui" {
  themes: corporate --default;
}

@layer components {
  .container-custom {
    @apply mx-auto px-4 sm:px-6 lg:px-8 max-w-screen-lg;
  }
}

html,
body,
#__next {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  @apply bg-base-100 text-base-content;
}
