.trip-item {
  position: relative;
}

.trip-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  border-radius: 4px;
  /* background-color: transparent; */
  transition: background-color 0.3s ease;
}

.trip-item:hover::before,
.trip-item.selected::before {
  background: var(--color-accent); /* Tailwind blue-500 */
}
